body{
    background:rgb(219, 217, 217); 
    font-family: 'Merriweather', serif;
}
.main{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.image{
    margin-left: 10%;
    margin-top: 60px;
    width: 400px;
}
.image_text{
    top: 7%;
    left: 21.5%;
    font-size: 35px;
    position: absolute; 
    
}

.image_container .image_text h1{
    color: white;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    
}
.form_container{
    border: 2px solid black;
    padding: 50px;
    margin-top: 10%;
    height: 50%;
    font-family: 'Merriweather', serif;
    
}
.form_container .form input{
    padding: 10px 10px;
    border: none;
    margin-bottom: 20px;
    margin-left: 20px;
    
}